form.aws-form{
  .field{
    span{
      display:inline-block;
      margin-left:10px;
      color: gray;
      line-height: 1;
    }
    .input,
    .textarea{
      background-color: transparent;
      color:$aws-treegreen;
      box-shadow: none;
      font-size: 1.5em;
    }
    .input{
      border: none;
      border-bottom: 2px solid $aws-gray;
      border-radius: 0;
      margin-bottom: 1rem;
       -webkit-appearance: none;
    }
    .textarea{
      border:2px solid $aws-gray;
    }
    ::placeholder {
      color:$aws-gray;
      opacity: .5
    }

  }
  .label{
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1;
    color:$aws-spruceblue;
    display:inline-block;
    margin-bottom: 0;
  }
  .fieldset {
    padding:2rem;
    border:2px dashed $aws-rust;
    margin-bottom: 20px;
    legend{
      font-size: 2em;
      padding-right:10px;
      line-height:1;
    }

  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: $aws-treegreen;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}
}
